* {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-family: 'Anonymous Pro', monospace;
}

.home-background {
    background: #334a6d; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #334a6d 0%, #001d49 30%, #001d49 70%, #334a6d 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #334a6d 0%,#001d49 30%,#001d49 70%,#334a6d 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #334a6d 0%,#001d49 30%,#001d49 70%,#334a6d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#334a6d', endColorstr='#334a6d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    height: 100vh;
    position: relative;
}

.login-form {
    padding: 80px 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #E5E500;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background: #001D49;
    opacity: 0.9;
}

.login-form input {
    margin-bottom: 30px;
    opacity: 1;
    background: #001D49;
    border: 0;
    padding: 5px;
    outline: none;
    color: #E5E500;
    border-bottom: 2px solid #E5E500;
}

.login-form input::placeholder {
    color: white;
    letter-spacing: 2px;
}

.login-form input[type="submit"] {
    border: 1px solid #E5E500;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 20px;
    letter-spacing: 2px;
}

.login-form input[type="submit"]:hover {
    background: #E5E500;
    color: #001D49;
}

.login-form #error {
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: 700;
    background: brown;
    border-radius: 5px;
    padding: 10px;
    display: none;
    max-width: 240px;
}

/* ucenici */

.ucenici-section-1 {
    padding: 70px 0;
    background: #001d49; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #001d49 0%, #334a6d 25%, #334a6d 75%, #001d49 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #001d49 0%,#334a6d 25%,#334a6d 75%,#001d49 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #001d49 0%,#334a6d 25%,#334a6d 75%,#001d49 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001d49', endColorstr='#001d49',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.ucenici-section-1 h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 50px;
    color: white;
}

#po-redu {
    background: #001D49;
    color: white;
    font-size: 18px;
    border: 0;
    padding: 10px 15px;
    cursor: pointer;
}

label {
    font-size: 18px;
    letter-spacing: 1px;
    background: #001D49;
    color: white;
    padding: 10px 15px;
}

#search {
    font-size: 18px;
    height: 38px;
    padding-left: 5px;
    border: 0;
    border-bottom: 2px solid #001D49;
    border-top: 2px solid #001D49;
}

.ucenik {
    text-align: center;
    font-size: 28px;
}

.ucenik + .ucenik {
    margin-top: 10px;
}

.ucenik a {
    color: white;
}

.pretraga {
    justify-content: center;
    margin-bottom: 50px;
    align-items: center;
}

footer {
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    padding: 20px;
    background: brown;
    color: white;
    letter-spacing: 2px;
}

footer img {
    height: 40px;
}

/* profesor */

.header {
    min-height: 250px;
    background: brown url("../media/family.png") no-repeat;
    background-size: contain;
    position: relative;
    background-position: center;
}

.nav-bar {
    color: white;
    position: absolute;
    bottom: 0;
}

.nav-bar a {
    padding: 10px 20px;
    text-transform: uppercase;
    background: #001D49;
    font-size: 20px;
    cursor: pointer;
    color: white;
    width: 150px;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 700;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.nav-bar a + a {
    margin-left: 10px;
}

.for-background {
    letter-spacing: 1px;
    color: #001D49;
}

.section-1 h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: white;
}

.section-2 h4 {
    border-bottom: 10px solid brown;
    padding: 20px 10px;
    font-size: 28px;
    font-weight: 700;
}

.section-2 .sva-obavestenja {
    border-top: 40px solid brown;
    border-bottom: 40px solid brown;
    border-left: 10px solid brown;
    border-right: 10px solid brown;
    border-radius: 10px;
}

.description-obavestenja p {
    font-size: 18px;
}

.naslov-obavestenja {
    border-bottom: 5px solid brown;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

.naslov-obavestenja h5 {
    font-size: 22px;
}

.naslov-obavestenja img {
    cursor: pointer;
    transition: 0.3s;
    height: 40px;
}

.edit-delete-obavestenje {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 30px;
}

.edit-delete-obavestenje img {
    cursor: pointer;
    height: 40px;
}

.edit-delete-obavestenje .edit-obavestenje {
    height: 34px;
}

.activ-obavestenje {
    transform: rotate(90deg);
}

.description-obavestenja {
    padding: 10px;
    font-size: 18px;
    display: none;
    border-bottom: 20px solid brown;
}

.dodaj-obavestenje {
    padding: 15px 10px;
    justify-content: space-between;
    align-items: center;
}

.dodaj-obavestenje h5 {
    font-size: 24px;
}

.dodaj-obavestenje img {
    cursor: pointer;
    height: 40px;
}

.obavestenje {
    display: none;
    margin: 10px;
}

.obavestenje h5 {
    font-size: 22px;
    border: 1px solid black;
    padding: 5px;
}

.obavestenje textarea {
    width: 100%;
    padding: 5px;
    font-size: 18px;
}

.obavestenje input[type="text"] {
    font-size: 18px;
    padding: 5px;
    margin-bottom: 5px;
}

.obavestenje input[type="button"] {
    text-transform: uppercase;
    font-size: 18px;
    padding: 8px 15px;
    background: #001D49;
    color: white;
    border: 0;
    cursor: pointer;
    letter-spacing: 2px;
}

.section-1, .section-2, .section-3, .section-4 {
    padding: 50px 0;
}

.izostanci-naslov h3, .izostanci.ukupno h3 {
    padding: 20px;
    font-size: 26px;
    font-weight: 700;
    border: 1px solid black;
    text-align: center;
}

.izostanci h4 {
    font-size: 22px;
    border: 1px solid black;
    padding: 10px;
}

.izostanci h4 span {
    font-size: 24px;
    font-weight: 700;
}

.izostanci.left {
    padding-right: 0;
}

.izostanci.right {
    padding-left: 0;
}

.izostanci + .izostanci span {
    color: red;
}

.opravdani, .neopravdani {
    justify-content: space-between;
    align-items: center;
}

.section-4 .naslov {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    padding: 20px;
    border: 1px solid black;
}

.section-4 .predmet h4 {
    font-size: 22px;
    padding: 20px 10px;
    border: 1px solid black;
    font-weight: 700;
    text-align: center;
    min-height: 94px;
}

.cetiri-kolone {
    padding: 0;
}

.cetiri-kolone:first-child {
    padding-left: 15px;
}

.cetiri-kolone:last-child {
    padding-right: 15px;
}

.section-4 h5 {
    font-size: 22px;
    padding: 10px;
    border: 1px solid black;
    text-transform: capitalize;
}

.cetiri-kolone h3 {
    font-size: 22px;
    padding: 10px;
    border: 1px solid black;
    text-align: center;
    font-weight: 700;
}

.cetiri-kolone p {
    font-size: 22px;
    padding: 10px;
}

.ocene {
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}

.ocene p {
    display: flex;
    flex-wrap: wrap;
}

.ocene span {
    padding: 8px 13px 8px 16px;
    border: 1px solid gray;
    border-radius: 50%;
    margin-top: 5px;
    position: relative;
}

.ocene span img {
    position: absolute;
    top: -10px;
    right: -20px;
    width: 20px;
    height: 20px;
    display: none;
}

.ocene span + span {
    margin-left: 5px;
}

.ocene img {
    width: 46px;
    height: 46px;
    cursor: pointer;
    margin-right: 10px;
}

.dodavanje-ocene {
    display: none;
    margin-right: 10px;
}

.dodavanje-ocene input {
    width: 50px;
}

.dodavanje-ocene input[type="number"] {
    padding-left: 5px;
}

.dodavanje-ocene input[type="button"] {
    cursor: pointer;
}

.predmeti-footer h3 {
    font-size: 26px;
    padding: 20px 10px;
    border: 1px solid black;
}

.predmeti-footer h2 {
    font-size: 26px;
    padding: 20px;
    border: 1px solid black;
    font-weight: 700;
    text-align: center;
}

.predmeti-footer div div:first-child {
    padding-right: 0;
}

.predmeti-footer div div:last-child {
    padding-left: 0;
}

@media screen and (max-width: 767px) {
    .izostanci.left {
        padding-right: 15px;
    }
    
    .izostanci.right {
        padding-left: 15px;
    }

    .cetiri-kolone {
        padding: 0 15px;
    }

    .predmeti-footer div div:first-child {
        padding-right: 15px;
    }
    
    .predmeti-footer div div:last-child {
        padding-left: 15px;
    }

    .mali-ekran {
        display: none;
    }

    .ocene span:nth-child(7) {
        margin-left: 0;
    }

    .ocene img {
        align-self: flex-end;
    }

    .pretraga {
        flex-direction: column-reverse;
        justify-content: center;
        margin-bottom: 50px;
        align-items: center;
    }

    #po-redu {
        margin-bottom: 10px;
    }
    
    #search {
        border-right: 2px solid #001D49;
    }
}