* {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-family: 'Anonymous Pro', monospace;
}

.home-background {
    background: url('../media/home-background-min.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.login-form {
    padding: 80px 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid greenyellow;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background: brown;
    opacity: 0.9;
}

.login-form input {
    margin-bottom: 30px;
    opacity: 1;
    background: brown;
    border: 0;
    padding: 5px;
    outline: none;
    color: greenyellow;
    border-bottom: 2px solid yellow;
}

.login-form input::placeholder {
    color: white;
    letter-spacing: 2px;
}

.login-form input[type="submit"] {
    border: 1px solid yellow;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 20px;
    letter-spacing: 2px;
}

.login-form input[type="submit"]:hover {
    background: greenyellow;
    color: brown;
}

.login-form #error {
    text-align: center;
    color: red;
    font-size: 18px;
    font-weight: 700;
    background: white;
    border-radius: 5px;
    padding: 10px;
    display: none;
    max-width: 204px;
}

/* ucenici */

.ucenici-section-1 {
    padding: 70px 0;
}

.ucenici-section-1 h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 50px;
}

.ucenik {
    text-align: center;
    font-size: 28px;
}

.ucenik + .ucenik {
    margin-top: 10px;
}

.pretraga {
    justify-content: center;
    margin-bottom: 50px;
}

/* profesor */

.header {
    min-height: 250px;
    background: brown url("../media/family.png") no-repeat;
    background-size: contain;
    position: relative;
    background-position: center;
}

.nav-bar {
    color: white;
    position: absolute;
    bottom: 0;
}

.nav-bar a {
    padding: 10px 20px;
    text-transform: uppercase;
    background: gray;
    font-size: 20px;
    cursor: pointer;
    color: white;
}

.section-1 h1 {
    text-align: center;
    font-size: 40px;
}

.section-2 h4 {
    border: 1px solid black;
    padding: 10px;
    font-size: 24px;
}

.naslov-obavestenja {
    border: 1px solid black;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.naslov-obavestenja h5 {
    font-size: 20px;
}

.naslov-obavestenja img {
    cursor: pointer;
    transition: 0.3s;
}

.edit-delete-obavestenje {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.edit-obavestenje {
    width: 42px;
    height: 42px;
}

.activ-obavestenje {
    transform: rotate(90deg);
}

.description-obavestenja {
    padding: 20px 10px;
    border: 1px solid black;
    font-size: 18px;
    display: none;
}

.dodaj-obavestenje {
    border: 1px solid black;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

.dodaj-obavestenje h5 {
    font-size: 20px;
}

.dodaj-obavestenje img {
    cursor: pointer;
}

.obavestenje {
    display: none;
    margin-top: 20px;
}

.obavestenje h5 {
    font-size: 22px;
    border: 1px solid black;
    padding: 5px;
}

.obavestenje textarea {
    width: 100%;
    padding: 5px;
    font-size: 18px;
}

.obavestenje input[type="text"] {
    font-size: 18px;
    padding: 5px;
    margin-bottom: 5px;
}

.obavestenje input[type="button"] {
    text-transform: uppercase;
    font-size: 18px;
    padding: 10px 20px;
    background: green;
    color: white;
    border: 0;
    cursor: pointer;
}

.section-1, .section-2, .section-3, .section-4 {
    padding: 50px 0;
}

.izostanci-naslov h3, .izostanci.ukupno h3 {
    padding: 20px;
    font-size: 26px;
    font-weight: 700;
    border: 1px solid black;
    text-align: center;
}

.izostanci h4 {
    font-size: 22px;
    border: 1px solid black;
    padding: 10px;
}

.izostanci h4 span {
    font-size: 24px;
    font-weight: 700;
}

.izostanci.left {
    padding-right: 0;
}

.izostanci.right {
    padding-left: 0;
}

.izostanci + .izostanci span {
    color: red;
}

.opravdani, .neopravdani {
    justify-content: space-between;
    align-items: center;
}

.section-4 .naslov {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    padding: 20px;
    border: 1px solid black;
}

.section-4 .predmet h4 {
    font-size: 22px;
    padding: 20px 10px;
    border: 1px solid black;
    font-weight: 700;
    text-align: center;
    min-height: 94px;
}

.cetiri-kolone {
    padding: 0;
}

.cetiri-kolone:first-child {
    padding-left: 15px;
}

.cetiri-kolone:last-child {
    padding-right: 15px;
}

.section-4 h5 {
    font-size: 22px;
    padding: 10px;
    border: 1px solid black;
    text-transform: capitalize;
}

.cetiri-kolone h3 {
    font-size: 22px;
    padding: 10px;
    border: 1px solid black;
    text-align: center;
    font-weight: 700;
}

.cetiri-kolone p {
    font-size: 22px;
    padding: 10px;
}

.ocene {
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}

.ocene p {
    display: flex;
    flex-wrap: wrap;
}

.ocene span {
    padding: 8px 13px 8px 16px;
    border: 1px solid gray;
    border-radius: 50%;
    margin-top: 5px;
    position: relative;
}

.ocene span img {
    position: absolute;
    top: -10px;
    right: -20px;
    width: 20px;
    height: 20px;
    display: none;
}

.ocene span + span {
    margin-left: 5px;
}

.ocene img {
    width: 46px;
    height: 46px;
    cursor: pointer;
    margin-right: 10px;
}

.dodavanje-ocene {
    display: none;
    margin-right: 10px;
}

.dodavanje-ocene input {
    width: 50px;
}

.dodavanje-ocene input[type="number"] {
    padding-left: 5px;
}

.dodavanje-ocene input[type="button"] {
    cursor: pointer;
}

.predmeti-footer h3 {
    font-size: 26px;
    padding: 20px 10px;
    border: 1px solid black;
}

.predmeti-footer h2 {
    font-size: 26px;
    padding: 20px;
    border: 1px solid black;
    font-weight: 700;
    text-align: center;
}

.predmeti-footer div div:first-child {
    padding-right: 0;
}

.predmeti-footer div div:last-child {
    padding-left: 0;
}

@media screen and (max-width: 767px) {
    .izostanci.left {
        padding-right: 15px;
    }
    
    .izostanci.right {
        padding-left: 15px;
    }

    .cetiri-kolone {
        padding: 0 15px;
    }

    .predmeti-footer div div:first-child {
        padding-right: 15px;
    }
    
    .predmeti-footer div div:last-child {
        padding-left: 15px;
    }

    .mali-ekran {
        display: none;
    }

    .ocene span:nth-child(7) {
        margin-left: 0;
    }

    .ocene img {
        align-self: flex-end;
    }
}